
<div class="container">
	<div class="jumbotron" style="background-color:#F0FFFF">
		<h3 class="text-center text-success">Name: {{user.name}}</h4>
		<h3 class="text-center text-success">Instagram ID:{{user.ig_id}}</h4>
	</div>

	<div class="row marketing">
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/c3visualization">view C3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/visualization">view D3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/myc3visualization">view My C3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/wordbubbles">view bubbles</a></div>
	</div>
</div>

