<!-- <div class="navbar navbar-default navbar-fixed-top fontLato">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/account">
				InstaGraph
			</a>
		</div>
	</div> 

</div> -->

		<!-- <h3 class="text-center text-success">Name: {{user.name}}</h4> -->
		<!-- <h3 class="text-center text-success">Instagram ID:{{user.ig_id}}</h4> -->

<!-- <div class="navspace row marketing">
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/c3visualization">view C3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/visualization">view D3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/myc3visualization">view My C3 visualization</a></div>
		<div class="col-lg-3 text-center"><a role="button" class="btn btn-default btn-lg" href="/wordbubbles">view bubbles</a></div>
</div> -->
<div id="accountdiv" class="fontLato container">

	<h1 class="plotTitle">Welcome, {{user.name}}!</h1>

	<div class="navspace row"> 
		<div class="col-xs-1 col-md-3"></div>
		<div class="graphlogodiv col-xs-5 col-md-3">
			<a href="/c3visualization"><img src="/img/sm_lineGraphLogo.png" height="100" width="200"/></a>
			<div class="caption"><h6>Number of images your followers have posted</h6></div>
		</div>
		
		<div class="graphlogodiv col-xs-5 col-md-3">
			<a href="/visualization"><img src="/img/sm_barGraphLogo.png" height="100" width="200" /></a>
			<div class="caption"><h6>Number of images your followers have posted and more</h6></div>
		</div>
		<div class="col-xs-1 col-md-3"></div>
	</div>

	<div class="row"> 
		<div class="col-xs-1 col-md-3"></div>
		<div class="graphlogodiv col-xs-5 col-md-3">
			<a href="/myc3visualization"><img src="/img/sm_lineGraphLogo.png" height="100" width="200" /></a>
			<div class="caption"><h6>Your average daily activity on Instagram</h6></div>
		</div>
		<div class="graphlogodiv col-xs-5 col-md-3">
			<a href="/wordbubbles"><img src="/img/sm_bubblesLogo.png" height="100" width="200" /></a>
			<div class="caption"><h6>Your most used words in captions and tags</h6></div>
		</div>
		<div class="col-xs-1 col-md-3"></div>
	</div>

</div>
