<h1> Media Count of Your Instagram Followers using C3JS </h1>
<div id="myChart"></div>
<div id="chart"></div>


<script src="js/myc3visualization.js"></script>
<script src="js/c3visualization.js"></script>

