<div class="navspace container">
	<h1 class="plotTitle text-success">How many posts your Instagram followers have made</h1>

	<canvas id="spinner"></canvas>
</br>
	<div id="chart"></div>

</div>

<script src="js/c3visualization.js"></script>

