<div id="loginTop" class="text-center fontLato"> 
    <div id="loginLogo">
    	<img src="/img/applogo3.png" width="300"/>
    </div>
    <div id="loginDescription" class="text-center">
        <p>We've captured your Instagram data and accumulated them into meaningful results. Log in below and discover yourself.</p>
    </div>
</div>

<div id="loginBottom" class="text-center">
    <div id="loginImg">
        <a href="/auth/instagram">
            <img src="/img/instagram-logo.png" width="200" height="200" />
        </a>
    </div>
    <h4 class="text-success" style="color:#3B3738">You must login to Instagram.</h4>
	<!-- <a role="button" class="btn btn-primary btn-lg" href="/auth/instagram">Login with Instagram</a> -->

</div>
