<div >
	<div class="container">
		<div class="jumbotron" style="background-color:#B0E0E6">
			<h2 class="text-center text-success" style="olor:white">You must login to Instagram.</h2>
		</div>
		<br/>
		<div class="text-center">
			<a role="button" class="btn btn-primary btn-lg" href="/auth/instagram">Login with Instagram</a>
		</div>
	</div>
</div>