
<div class="container" style="background-color:#F0FFFF">
	<h1 class="text-success"> My Activity on Instagram using C3JS </h1>
	<canvas id="spinner"></canvas>
	<div id="myChart"></div>
	<a role="button" class="btn btn-primary btn-lg" href="/account">Menu</a>
</div>

<script src="js/myc3visualization.js"></script>
