<div class="text-center" >
<div class="container-fluid navspace fontLato">
    <h1 class="text-success plotTitle"> Media Count of Your Instagram Followers </h1>
    <canvas id="spinner"></canvas>
    </br>
    <div class="checkbox"><label><input type="checkbox"> Sort values</label></div>
    <div id="chart"></div>
    <script src="js/visualization.js"></script>
</div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>

