<h1> Media Count of Your Instagram Followers </h1>
<button id="sort" onclick="sortBars()">Sort</button>
<!-- <button id="reset" onclick="reset()">Reset</button> -->
<div id="chart"></div>

<label><input type="checkbox"> Sort values</label>
<script src="js/visualization.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>