

	<h1 class="text-success"> Media Count of Your Instagram Followers </h1>
	<a role="button" class="btn btn-primary btn-lg" href="/account">Menu</a>
</br>
	<div class="checkbox"><label><input type="checkbox"> Sort values</label></div>

<!--<img src="images/loading.gif" id="loading-indicator" />-->

	<script src="js/visualization.js"></script>
	<div id="chart"></div>

<script src="http://d3js.org/d3.v3.min.js"></script>