<div class="container-fluid navspace fontLato">
    <h1 class="text-success plotTitle"> Media Count of Your Instagram Followers </h1>
    <!-- <a role="button" class="btn btn-primary btn-lg" href="/account">Menu</a> -->
    <canvas id="spinner"></canvas>
    </br>
    <div class="checkbox"><label><input type="checkbox"> Sort values</label></div>
    <script src="js/visualization.js"></script>
    <div id="chart"></div>

</div>

<script src="http://d3js.org/d3.v3.min.js"></script>

