 <div id="container" class="navspace container-fluid">

    <!-- <header> -->
    <h1 style="padding-top:80px;">Your most frequent tags on Instagram</h1>
      <h2 id="book-title"></h2>
    <!-- </header> -->
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
      <div id="controls">
        <h3>Jitter</h3>
        <form id="jitter" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
          <input id="jitter_input" type="range" min="0" max="400" value="100" style="width:240px;">
          <output name="output" for="input">0.5</output>
        </form>
      </div>
    </div>
<!--     <footer>
    <p><a href="http://vallandingham.me/building_a_bubble_cloud.html">Blog Post</a> | <a href="https://github.com/vlandham/bubble_cloud">Source Code</a> | <a href="http://www.nytimes.com/interactive/2012/09/04/us/politics/democratic-convention-words.html">Original Inspiration</a></p>
    </footer> -->
  </div> <!--! end of #container -->

<script src="js/modernizr-2.0.6.min.js"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

  <script defer src="/js/plugins.js"></script>
  <script src="/js/coffee-script.js"></script>
  <script src="/js/d3.min.js"></script>
  <!-- // <script type="text/coffeescript" src="coffee/vis.coffee"></script> -->
  <script type="text/javascript" src="/js/wordbubbles.js"></script>
  <script type="text/javascript">
  </script>




  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->


