.fontLato {
    font-family: 'Lato', sans-serif;
}

html, body {
    /*background-color: #FDF3E7*/
    background-image: url("http://www.unsigneddesign.com/Subtle%20Grunge%20Small/22.jpg");
    background-size:cover;
}

.jumbotron {
    background-color: #C63D0F;
    color: #3B3738;
}

.navspace {
    margin-top: 50px;
}

/********** NAVBAR ***********/
.navbar {
    background-color: #c63d0f;
    background-image: none;
}

.navbar-default {
  background-color: #c63d0f;
  border-color: #c63d0f;
}
.navbar-default .navbar-brand {
  color: #3b3738;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fdf3e7;
}
.navbar-default .navbar-text {
  color: #3b3738;
}
.navbar-default .navbar-nav > li > a {
  color: #3b3738;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fdf3e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fdf3e7;
  background-color: #c63d0f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fdf3e7;
  background-color: #c63d0f;
}
.navbar-default .navbar-toggle {
  border-color: #c63d0f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c63d0f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3b3738;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3b3738;
}
.navbar-default .navbar-link {
  color: #3b3738;
}
.navbar-default .navbar-link:hover {
  color: #fdf3e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3b3738;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdf3e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdf3e7;
    background-color: #c63d0f;
  }
}
/***** END NAVBAR *****/


#loginTop,
#loginBottom {
    /*position: fixed;*/
    left: 0;
    right: 0;
    height: 50%;
}

#loginTop {
    top: 0;
    background-color: #C63D0F;
    height:300pt;
}

#loginBottom {
    bottom: 0;
    /*background-color: #FDF3E7;*/
        background-image: url("http://www.unsigneddesign.com/Subtle%20Grunge%20Small/22.jpg");
        background-size:cover;
    z-index: -1000;
}

#loginImg {
    padding-top: 50px;
    z-index: 1000;
}

img:hover {
    opacity: 0.5;
}

#loginLogo {
    padding-top: 30px;
    /*max-width: 500px;*/

}

#loginLogo img {
    /*width: 100%;*/
}

#loginDescription {
    padding: 10%;
    font-size: 1.5em;
}

.plotTitle {
    color: #3B3738;
    text-align: center;
}

#accountdiv {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("http://www.unsigneddesign.com/Subtle%20Grunge%20Small/22.jpg");
    background-size:cover;
}

.graphlogodiv {
  text-align: center;
}

p {
  font-size: 23pt;
  font-family: 'Dosis', sans-serif;
}

h4, h1, h6, h3 {
  font-family: 'Dosis', sans-serif;
}

