
.bar {
  fill: #7E8F7C;
}

.bar:hover {
  fill: #3B3738;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #3B3738;   
  color: #FDF3E7;
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}*/

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background-color: #3B3738;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  /*background: rgba(0, 0, 0, 0.8);*/
  /*color: #fff;*/
  color: #9095D6;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.tooltip::after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n::after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}